<body>
    <h1>Quienes Somos</h1>
    <div id="quienescon">
        <div id="fotocon">
            <img id="imageso" width="500px" src="./assets/softtek-tenologia-liderazgo.jpg" alt="">
        </div>

        <div id="textoCon">

            <section>
                <p>Softek, fundada en 2010, se ha consolidado como líder en el sector de las soluciones tecnológicas, dedicada a transformar las industrias a través de la innovación y la excelencia en el desarrollo de software. Nuestra misión es empoderar a empresas de todos los tamaños para que enfrenten los desafíos del mañana, aprovechando las herramientas más avanzadas en tecnología e informática.</p>
            </section>
            <section>
                <h2>Nuestra Visión</h2>
                <p>En Softek, visualizamos un mundo donde la tecnología es accesible y efectiva para todos. Nuestra visión es ser el catalizador de cambio en la industria, impulsando la transformación digital a escala global. Nos esforzamos por desarrollar soluciones que no solo mejoren la eficiencia operativa de nuestros clientes, sino que también fomenten un impacto positivo en la sociedad y el medio ambiente.</p>
            </section>
            
        </div>

    </div>
</body> 